<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/context
     			http://www.springframework.org/schema/context/spring-context-3.0.xsd
     			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     			http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
    			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<task:annotation-driven />
	<bean id="basePropertyPlaceHolder"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="true">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:/properties/jdbc.properties</value>
			</list>
		</property>
	</bean>


	<!-- oracle configuration -->
	<bean id="baseDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${mysql.driverClassName}" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.username}" />
		<property name="password" value="${mysql.password}" />
	</bean>

	<!-- Transaction management, use PlatformTransactionManager instead of JtaTransactionManager 
		with jndi -->
	<bean id="txManagerUser"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="baseDataSource" />
	</bean>
	<tx:advice id="txAdvicedrugUser" transaction-manager="txManagerUser">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="userServiceOperation1"
			expression="execution(* com.lm.*.service..*Service.*(..)))" />
		<aop:pointcut id="userServiceOperation2"
			expression="execution(* com.lm.*.*.service..*Service.*(..)))" />
	</aop:config>

	<!-- define the SqlSessionFactory -->
	<bean id="sqlSessionFactoryUser" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="baseDataSource" />
		<property name="configLocation"
			value="classpath:config/MyBatis-User-Configuration.xml" />
	</bean>
	<!-- DAO Mapper 层 -->
	<bean id="baseMapperUser" class="org.mybatis.spring.mapper.MapperFactoryBean"
		abstract="true" lazy-init="true">
		<property name="sqlSessionFactory" ref="sqlSessionFactoryUser" />
	</bean>
	<bean id="userMapper" parent="baseMapperUser">
		<property name="mapperInterface"
			value="com.lm.mapping.UserMapper" />
	</bean>


	<!-- Service层 -->
	<bean id="userService"
		class="com.lm.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper" />
	</bean>

</beans>